<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Article</title>
  <style>
    input {
      margin: 5px
    }
  </style>
</head>

<body>
  <h1>Create A New Article</h1>
  <form method="post" action="/articles" >
    <label for="article_title">Article Title: </label>
    <input type="text" name="title" id="title"<br>

    <label for="article_content">Article Content: </label>
    <input type="text" name="content" id="content"<br>

    <br>
    <input type="submit" id="submit" value="Submit"/>
  </form>
</body>
</html>
